<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Наруто Тест. Скоро</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-size: 28px;
            padding: 2rem;
            margin: 0 auto;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
        img {
            max-width: 350px;
        }
    </style>
</head>
<body>
        <img src="../../gifs/lazy.gif" alt="">
        <p>Данный уровень не доступен, так как автор разленился.</p>
</body>
</html>