<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Наруто Тест. Легкий уровень</title>
    <link rel="icon" href="../../images/naruto-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="../../css/reset.css"> 
</head>
<body id="body">
    <div class="container">
        <div class="pictures left">
            <div class="picture">
                <img src="../../images/1.png" alt="">
            </div>
            <div class="picture">
                <img src="../../images/2.png" alt="">
            </div>
            <div class="picture">
                <img src="../../images/3.png" alt="">
            </div>
            <div class="picture">
                <img src="../../images/4.png" alt="">
            </div>
        </div>
        
        <main class="main">
           
                
                <div class="main__container">
                    
                    <div class="question hidden">
                        <div id="id" class="number">
                            
                        </div>
                        <div id="title" class="title">
                            
                        </div>
                        <div class="question__img center">
                            <img src="" alt="Картинка вопроса" class="info-img hidden">
                        </div>
                        <div class="options">
                         
                        </div>

                        <button class="btn-next center">Дальше!</button>
                        
                    </div>

                    <div class="start-message">
                        <div class="intro-text">
                            Ты конечно же знаешь Наруто, но сможешь ли ты ответить на все наши вопросы по этому аниме? Мы старались собрать самые интересные факты по Наруто, чтобы испытать тебя!
                        </div>
    
                        <button class="btn-start center">Начать тест!</button>
                    </div>
                    
                </div>

                <div class="results hidden">
                    <div class="points"></div>
                    <br />
                    <div class="congrats"></div>
                    <a href="../../index.html">На главную</a>
                    <a href="">Попробовать еще раз</a>
                </div>  
                
                <div class="modal hidden">

                    <h3 class="note"></h3>

                    <img class="reaction" src="" alt="">

                    <button class="modal-next">Закрыть</button>

                </div>
                
        </main>
   
        <div class="pictures right">
            <div>
                <img src="../../images/5.png" alt="">
            </div>
            <div>
                <img src="../../images/6.png" alt="">
            </div>
            <div>
                <img src="../../images/7.png" alt="">
            </div>
            <div>
                <img src="../../images/8.png" alt="">
            </div>
        </div>
    </div>
    
    <!-- <script src="../../questions.json"></script> -->
    <script type="module" src="script.js"></script>
    <!-- <script src="app.js"></script> -->
</body>
</html>